# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables — never commit this
.env
.env.local
.env.production


# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db